<div class="container_popular-post">
   
        <app-main-card photoCover="../../assets/p1.jpg" cardDescription="Babosa: Conheça seus benefícios, modo de usar e os melhores produtos e serviços para crespos, cachos e ondulados"></app-main-card>
        <app-main-card photoCover="../../assets/p2.jpg" cardDescription="Guia dos Crespos e Crespíssimos: como cuidar e os melhores produtos e tratamentos para os cabelos 4ABC?"></app-main-card>
        <app-main-card photoCover="../../assets/p3.jpg" cardDescription="Definição Capilar: Saiba como definir seus cachos, crespos e ondulados."></app-main-card>
        <app-main-card photoCover="../../assets/p4.avif" cardDescription="Rotina Noturna: Conheça os cuidados capilares necessários para adotar durante a noite"></app-main-card>
        <app-main-card photoCover="../../assets/p5.avif" cardDescription="Tonalizantes: Saiba das diferenças, produtos e serviços para crespos, cachos e ondulados"></app-main-card>
        <app-main-card photoCover="../../assets/p6.jpg" cardDescription="Cuidados no Verão: Confira as dicas da Jublack para cuidar das curvaturas na estação"></app-main-card>
   
</div>