<div class="container_newsletter">
    <div class="container_newsletter-title">
        <h1>Newsletter</h1>
    </div>
    <div class="container_newsletter-subtitle">
        <p>Cadastre-se abaixo para receber todas as nossas novidades:</p>
    </div>
    <div class="container_newsletter-form">
        <div>
            <input type="text" placeholder="Nome:">
        </div>
        <div>
            <input type="email" placeholder="E-mail:">
        </div>
    </div>
    <div class="container_newsletter-button">
        <a>Cadastra-se</a>
    </div>
</div>