<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <div class="container_main-articles-title">
            <app-title-section titleSection="#CUIDADOS COM CABELO"></app-title-section>

        </div>
        <div class="container_main-articles">
            <app-big-card  photoCover="../../assets/c1.jpg" cardDescription="5 segredos profissionais para cachos incríveis"></app-big-card>
            <app-big-card  photoCover="../../assets/c2.jpg" cardDescription=" Dicas para cuidar do cabelo crespo cacheado"></app-big-card>
            <app-big-card photoCover="../../assets/c3.jpg" cardDescription="Como preparar o cabelo para a química"></app-big-card>
            <app-big-card  photoCover="../../assets/c4.png" cardDescription="Hidratações para seu  cronograma capilar"></app-big-card>
        </div>
    </div>
    
</div>
<div class="container_popular-post">
    <app-title-section titleSection="VEJA AS POSTAGENS"></app-title-section>
    <app-popular-post></app-popular-post>
</div>
<div class="container_newsletter">
    <app-newsletter></app-newsletter>
</div>
