<div class="container_menu-bar">

    <div class="container-menu-bar_logo">
        <a [routerLink]="['']">
            <img src="../../assets/logo.jpg" alt="logo">
        </a>
    </div>

    <div class="container_menu-bar-list">
        <ul>
            <li><a href="#">Início</a></li>
            <li><span></span></li>
            <li><a href="#">Serviços</a></li>
            <li><span></span></li>
            <li><a href="#">Avaliações</a></li>
            <li><a href="#">Central de Dúvidas</a></li>
        </ul>
    </div>

    <div class="container_menu-bar-list-mobile">
       <button type="button"><img src="../../../assets/menu.png" alt=""></button>
    </div>
</div>