<app-title-section titleSection="ÚLTIMOS POSTS DO BLOG"></app-title-section>
<div class="container_sigle-post">
    <app-main-card photoCover="../../assets/p4.avif" cardDescription="Babosa: Conheça seus benefícios, modo de usar e os melhores produtos e serviços para crespos, cachos e ondulados"></app-main-card>
    <app-main-card photoCover="../../assets/p2.jpg" cardDescription="Guia dos Crespos e Crespíssimos: como cuidar e os melhores produtos e tratamentos para os cabelos 4ABC?"></app-main-card>
    <app-main-card photoCover="../../assets/p1.jpg" cardDescription="Rotina Noturna: Conheça os cuidados capilares necessários para adotar durante a noite"></app-main-card>

</div>